<section class="flex flex-row space-between grow bg-green-400 justify-center">
  <h3 class="text-3xl ">{{title}}</h3>
  <h3 class="text-3xl ">{{due_date}}</h3>
  <h3 class="text-3xl " id="time-left">time left</h3>
  
</section>

<script src="js/displayProjects.js"></script>