<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 2</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-[#f7f7f7]">
    <header>
      <h1 class="text-3xl font-extrabold m-5 text-[#0057e7]">blah Blog</h1>
    </header>
    <nav class="mx-5 font-extrabold bg-[#7f8e9e]">
      <ul class="">
        <a class="mr-2 hover:text-[#0057e7]" href="/">Home</a>
        <a class="mr-2 hover:text-[#0057e7]" href="/">Dashboard</a>
        {{#if logged_in}}
          <button id="logout">Logout</button>
          <script src="/js/logout.js"></script>
        {{else}}
          <a class="mr-2 hover:text-[#0057e7]" href="login">Login</a>
        {{/if}}
      </ul>
    </nav>
    <main class="flex flex-grow justify-center m-5 w-10/12">

      {{{body}}}

    </main>
  </body>
  
</html>