<header><h3>{{title}}</h3></header>
<main>
    <body class = "card">
        <button>Task Done</button>
        <div class = "task">
            {{Task}}
        </div>
        <div class = "icon">
            Icon
        </div>
        <div class = "due-date">
            {{due_date}}
        </div>
    </body>
</main>
<footer>

</footer>