<section class="flex flex-col grow items-center">
<h3 class="text-3xl mb-5">project title{{projectName}}</h3>
<button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-700 rounded w-40 mb-5"
    >Create New Task</button>
<form class="flex flex-row grow m-2">
<input class="flex-none"type="checkbox" id="task-done" name="task-done" unchecked>

<textarea placeholder="Tasks"name="task-name" class = "flex-auto h-8 border-solid border-2 border-blue-950 m-1 "></textarea>

<input placeholder="Icon"class = "flex-none h-8 border-solid border-2 border-blue-950 m-1"></input>

<input placeholder="Due date"class = "flex-none h-8 border-solid border-2 border-blue-950 m-1"></input>
</form>
<div id="project">
    {{>project}}
</div>
</section>