<section class="m-3">

  <h3 class="text-[#0057e7] font-bold text-xl">Login</h3>
  <form class="flex flex-col" action="" id="login-form">
    <input
      class="border-solid border-2 border-blue-950 mt-2 pr-8"
      type="text"
      placeholder="Email"
      id="login-email"
    />
    <input
      class="border-solid border-2 border-blue-950 my-2"
      type="password"
      placeholder="Password"
      id="login-password"
    />
    <button
      class="bg-[#3385c6] hover:bg-[#0057e7] text-white font-bold py-1 px-2 border border-blue-700 rounded w-20"
    >Login</button>
  </form>
  <p class="text-xs">Sign up
    <a class="text-[#0057e7] font-bold" href="/sign_up"> here </a>
    if you don't already have an account</p>
</section>

<script src="/js/login.js"></script>