



<section>

  <h3 class="text-xl">Sign Up</h3>

  <form class="flex flex-col" action="" id="signup-form">
    <input
      class="border-solid border-2 border-blue-950 mt-2"
      type="text"
      placeholder="Name"
      id="user-name"
    />
    <input
      class="border-solid border-2 border-blue-950 mt-2"
      type="text"
      placeholder="Email"
      id="user-email"
    />
    <input
      class="border-solid border-2 border-blue-950 mt-2"
      type="text"
      placeholder="Password"
      id="user-password"
    />
    <input
      class="border-solid border-2 border-blue-950 mt-2"
      type="text"
      placeholder="Confirm Password"
      id="user-password-confirmation"
    />
    <button>Signup</button>
  </form>

</section>


<script src="/js/loginSignUp.js"></script>